header {
  position: relative;
  background: #ff8a03;
  padding: 0;
}

a {
  color: white;
  font-weight: bold;
  text-decoration: none; /* Ensure links don't have underlines */
}

a:hover {
  background-color: rgb(240, 101, 9);
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Smooth transition */
}

.container {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

a.logo {
  padding: 1rem;
}

ul {
  display: flex;
  list-style: none;
  margin: 0;
  opacity: 0.9;
}

ul a {
  padding: 1rem;
  display: inline-block;
  color: #ffffff;
  transition: background-color 0.3s ease; /* Smooth transition */
}

a span {
  background: red;
  color: #ffffff;
  padding: 0.1rem 0.45rem;
  border-radius: 100rem;
  font-size: 0.9rem;
}

.product-container {
  position: relative;
}

.product {
  position: absolute;
  z-index: 1;
  display: none;
  background-color: rgb(240, 101, 9); /* Ensure background color is set */
  padding: 1rem; /* Add some padding for better appearance */
  border-radius: 0.5rem; /* Rounded corners */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Add subtle shadow */
  transition: opacity 0.3s ease; /* Smooth fade-in effect */
}

.product-container:hover .product {
  display: block;
}

.menu a {
  width: 100%;
  min-width: 8rem;
}
