<header>
  <div class="container">
    <a href="home" class="logo">
      <img src="icons8-shop-64.png" alt="Shop Icon" class="logo-image">
      E-shopp
    </a>
    <nav>
      <ul>
       
        <li>
          <a routerLink="/cart-page">
            <img src="shopping-cart.png" alt="Cart Icon" class="cart-icon">
            <span>{{ cartCount }}</span>
          </a>
          <li class="product-container">
            <a>{{ userName }}</a> <!-- Display username -->
            <div class="product">
              <a routerLink="/login">Logout</a>
            </div>
          </li>

      
      </ul>
    </nav>
  </div>
</header>
