<header>
  <div class="container">
    <a href="home" class="logo">
      <img src="icons8-shop-64.png" alt="Shop Icon" class="logo-image">
      E-shopp
    </a>
    <nav>
      <ul>
        <li class="product-container">
          <a>{{ userName }}</a> <!-- Display username -->
          <div class="product">
            <a routerLink="/login">Logout</a>
          </div>
        </li>
        <li>
          <a routerLink="/cart-page">
            <span>{{ cartCount }}</span>
            <img src="shopping-cart.png" alt="Cart Icon" class="cart-icon">
          </a>
        </li>
        <li class="back-button">
          <a href="javascript:history.back()">
            <img src="return.png" alt="Back Icon" class="back-icon">
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
