<header>
  <div class="container">
    <a href="home" class="logo">
      <img src="icons8-shop-64.png" alt="Shop Icon" class="logo-image">
      E-shopp
    </a>
    <nav>
      <ul>
        <li class="product-container"> <!-- menu container -->
          <a>Abie</a>
          <div class="product"> <!-- menu -->
            <a routerLink="/login">Logout</a>
          </div>
        </li>
        <li>
          <a routerLink="/cart-page">Cart <span>3</span></a>
        </li>
      </ul>
    </nav>
  </div>
</header>
