<app-header></app-header>
<div class="container">
  <ul>
    <li *ngFor="let cartItem of cart.items">
      <div>
        <img [src]="cartItem.product.imageUrl" [alt]="cartItem.product.name">
      </div>
      <div>
        <a routerLink="/product/{{cartItem.product.id}}">
          {{cartItem.product.name}}
        </a>
      </div>
      <div>
        <button (click)="decrementQuantity(cartItem)">-</button>
        <span>{{cartItem.quantity}}</span>
        <button (click)="incrementQuantity(cartItem)">+</button>
      </div>
      <div>
        {{cartItem.product.price | currency}}
      </div>
      <div>
        <button class="remove-button" (click)="removeFromCart(cartItem)">
          Remove
        </button>
      </div>
    </li>
  </ul>
  <div class="checkout">
    <div>
      <span>Total of Products: </span><div class="product-count">{{cart.totalCount}}</div>
      <span>Total of Price: </span><div class="total-price">{{cart.totalPrice | currency}}</div>
    </div>
    <a routerLink="/checkout">Proceed to Checkout</a>
  </div>
</div>
