/* Container styling */
div {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
  gap: 10px;
  padding: 9px;
  
}

body {
  margin-top: 60px; /* Adjust this value based on the height of your navbar */
}



/* Input field styling */
input[type="text"] {
  padding: 8px 12px;
  font-size: 16px;
  border: 1px solid  #ff4500;        
  border-radius: 4px; /* Rounded corners */
  outline: none; /* Remove default focus outline */
  width: 200px; /* Set a width for the input field */
  transition: border-color 0.3s; /* Smooth transition for border color */
}

input[type="text"]:focus {
  border-color:  #ff4500; /* Change border color on focus */
}

/* Button styling */
button {
  padding: 8px 16px;
  font-size: 16px;
  border: none;
  border-radius: 4px; /* Rounded corners */
  background-color:  #ff4500; /* Button background color */
  color: white; /* Text color */
  cursor: pointer; /* Change cursor to pointer */
  transition: background-color 0.3s; /* Smooth transition for background color */
}

button:hover {
  background-color:#e03b00(240, 101, 9); /* Darker color on hover */
  transform: scale(1.05);
}
