/* Container styling */
div {

  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 10px;
  padding: 9px;
}

/* Input field styling */
input[type="text"] {
  padding: 8px 12px;
  font-size: 16px;
  border: 1px solid #fa780d;
  border-radius: 4px; /* Rounded corners */
  outline: none; /* Remove default focus outline */
  width: 200px; /* Set a width for the input field */
  transition: border-color 0.3s; /* Smooth transition for border color */
}

input[type="text"]:focus {
  border-color: #fa780d; /* Change border color on focus */
}

/* Button styling */
button {
  padding: 8px 16px;
  font-size: 16px;
  border: none;
  border-radius: 4px; /* Rounded corners */
  background-color: #ff8a03; /* Button background color */
  color: white; /* Text color */
  cursor: pointer; /* Change cursor to pointer */
  transition: background-color 0.3s; /* Smooth transition for background color */
}

button:hover {
  background-color: rgb(240, 101, 9); /* Darker color on hover */
  transform: scale(1.05);
}
