<app-produc-list-navbar></app-produc-list-navbar>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <title>Product Images</title>
    <style>
    </style>
</head>
<body>

    
<img class="h-auto max-w-full" src="Eshoppcover.png" alt="image description">


    <ul>
        <li>
            <a href="login">
                <img src="a41c642f417551df48b038db763c302a.jpg_720x720q80.jpg" alt="Yellow Fabric Tshirt">
                <div class="content">
                    <div class="name">Yellow Fabric Tshirt</div>
                    <div class="product-item-footer">
                        <div class="origins">
                            <span>Made in America</span>
                        </div>
                        <div class="price">$30.00</div>
                    </div>
                </div>
            </a>
        </li>
        <li>
            <a href="login">
                <img src="usb-driver.jpg" alt="USB Driver">
                <div class="content">
                    <div class="name">USB Driver</div>
                    <div class="product-item-footer">
                        <div class="origins">
                            <span>Made in China</span>
                        </div>
                        <div class="price">$8.55</div>
                    </div>
                </div>
            </a>
        </li>
        <li>
            <a href="login">
                <img src="bracelet.jpg" alt="Bracelet">
                <div class="content">
                    <div class="name">Bracelet</div>
                    <div class="product-item-footer">
                        <div class="origins">
                            <span>Made in Thailand</span>
                        </div>
                        <div class="price">$51.31</div>
                    </div>
                </div>
            </a>
        </li>
        <li>
            <a href="login">
                <img src="1_1_8e957653-5f7f-4345-84ea-a1c9ae26f028_1600x.webp" alt="Ring">
                <div class="content">
                    <div class="name">Ring</div>
                    <div class="product-item-footer">
                        <div class="origins">
                            <span>Made in France</span>
                        </div>
                        <div class="price">$100.00</div>
                    </div>
                </div>
            </a>
        </li>
        <li>
            <a href="login">
                <img src="toothbrush.avif" alt="Toothbrush">
                <div class="content">
                    <div class="name">Toothbrush</div>
                    <div class="product-item-footer">
                        <div class="origins">
                            <span>Made in France</span>
                        </div>
                        <div class="price">$0.17</div>
                    </div>
                </div>
            </a>
        </li>
        <li>
            <a href="login">
                <img src="soap.webp" alt="Soap">
                <div class="content">
                    <div class="name">Soap</div>
                    <div class="product-item-footer">
                        <div class="origins">
                            <span>Made in California</span>
                        </div>
                        <div class="price">$0.15</div>
                    </div>
                </div>
            </a>
        </li>
        <li>
            <a href="login">
                <img src="Bottle-Shampoo.webp" alt="Bottle Shampoo">
                <div class="content">
                    <div class="name">Bottle Shampoo</div>
                    <div class="product-item-footer">
                        <div class="origins">
                            <span>Made in France</span>
                        </div>
                        <div class="price">$5.41</div>
                    </div>
                </div>
            </a>
        </li>
        <li>
            <a href="login">
                <img src="red shirt.jpg" alt="Red T-Shirt">
                <div class="content">
                    <div class="name">Red T-Shirt</div>
                    <div class="product-item-footer">
                        <div class="origins">
                            <span>Made in China</span>
                        </div>
                        <div class="price">$60.00</div>
                    </div>
                </div>
            </a>
        </li>
    </ul>
</body>
</html>
