table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    
    
}

th {
    background-color: #f2f2f2;
    
}

td img {
    max-width: 80px;
    height: auto;
    display: block;
    margin: 0 auto;
}

td:first-child, th:first-child {
    width: 100px; /* Adjust as needed */
    margin: 50px;
}

td, th {
    vertical-align: middle;
}

h3 {
    margin-top: 60px;
    font-weight: bold;
}

h4 {
    font-weight: bold;
    color: orangered;
    font-size: larger;
}

.total-row {
    font-weight: bold;
}

.buttons-container {
    text-align: center; /* Centers the button horizontally */
    margin-top: 20px; /* Adds space above the button */
}

.buttons-container button {
    padding: 10px 20px; /* Adds padding inside the button */
    background-color: #ff4500; /* Button background color */
    color: #fff; /* Text color */
    border: none; /* Removes default button border */
    cursor: pointer; /* Changes cursor to pointer on hover */
    border-radius: 5px; /* Adds rounded corners */
    font-size: 16px; /* Font size */
    transition: background-color 0.3s ease; /* Smooth background color transition */
}

.buttons-container button:hover {
    background-color: #e03b00; /* Darker background color on hover */
}